manifest {

    author          = "Eachan Johnson"
    homePage        = "https://github.com/scbirlab/nf-promotermap"
    description     = "Nextflow pipeline to map Illumina sequences to bacterial genomes and call peaks."
    defaultBranch   = "v0.0.2"
    nextflowVersion = '!>=24.00.0'
    version         = "0.0.2"
    doi             = ''

}

params {

    help = false

    /* Required */
    sample_sheet = null
    control_label = null

    /* Optional */
    inputs = "inputs"
    outputs = "outputs"
    fastq_dir = null
    from_sra = false
    nanopore = false

    // - Adapter trimming
    trim_qual = 5
    min_length = 9 

    mapper = "bowtie2"


}

process {
  container = 'ghcr.io/scbirlab/nf-promotermap:latest'
  containerEngine = 'auto'  // docker, singularity, or podman
  conda = "${projectDir}/environment.yml"
}

conda {
  createTimeout = "3h"
  cacheDir = "${projectDir}/.conda"
}

singularity {
  autoMounts = true
  cacheDir = "${projectDir}/.singularity"
  runOptions = "--network=none"
}

docker {
  cacheDir = "${projectDir}/.docker"
  temp = true  // run in isolated container mount
}

profiles {

  standard {

    singularity.enabled = true

    process {
      executor = 'slurm'

      withLabel: big_cpu {
        cpus = 16
        memory = 64.GB
      }

      withLabel: some_mem {
        memory = 8.GB
      }

      withLabel: med_mem {
        memory = 32.GB
      }

    }

    dag {
      enabled = true
      overwrite = true
    }

    notification {
      enabled = true
      to = "$USER@crick.ac.uk"
    }

  }

  local {

    process {
      executor = 'local'
      memory = 16.GB

      withLabel: big_cpu {
        cpus = 8
      }

    }

  }

  gh {

    docker.enabled = true
    docker.runOptions = '-u 1001:1001'

    process {
      executor = 'local'
      cpus = 1
      memory = 12.GB
    }

  }

}